@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.awssld__wrapper {
  height: 50vw !important;
  position: relative !important;
}

.awssld__container {
  position: relative !important;
}

.slick-dots .slick-dots-bottom {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* .awssld__box {
  position: relative !important;
} */

.awssld__content {
  position: relative !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
