h1 {
  font-size: 2.2vw;
}

a {
  color: white !important;
}

p {
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.8);
}

h4 {
  font-size: 1.5vw;
}

.rowLeftTitleContent {
  margin-top: 30%;
}

.rowRightTitleContent {
  margin-top: 20%;
}

.motocycleTitle {
  color: #d8d8d8;
}

.rowLandingBottom {
  margin-bottom: 8%;
}

.rowLandingTop {
  margin-bottom: 8%;
}

.wrapperLandingFirst {
  background-image: url("./assets/img/background.png");
  background-size: cover;
  background-position: center;
}

.wrapperLandingSecond {
  background-image: url("./assets/img/background2.png");
  background-size: cover;
  background-position: center;
}
.contentBottom {
  text-align: right;
}

.chatbotWrapper {
  margin-left: auto;
  margin-right: 2%;
  z-index: 1;
  width: 5%;
}

.chatbotWrapper:hover {
  cursor: pointer;
}

.chatbot:hover {
  cursor: pointer;
}
.wrapperSlider {
  position: relative !important;
}
/* .wrapperOuterChatbot {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
} */
.chatbotMenuWrapper {
  width: 20vw;

  margin-top: -5rem;
  float: right;
  z-index: 1;
}

.chatbotMenu {
  background-color: #ffe9cc;
  padding: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.chatbotMenuBottom {
  background-color: white;
  padding: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.callcenter {
  width: 100%;
}

.callcenterWrapper {
  margin-right: 0.5rem;
}

.formChat {
  background-color: #ffe9cc;
  padding: 1rem;
  margin-bottom: 5%;
  border-radius: 0.5rem;
}

.formChat input::placeholder {
  font-size: 9pt;
}

.chatbotButton {
  width: 100% !important;
  background-image: linear-gradient(to right, #ffec00, #ff9a07) !important;
  border: none !important;
  border-radius: 4px;
}

/* Footer */
.footer {
  background-color: #231f20;
  padding: 3% 0;
}

.footerParagraph {
  font-size: 1vw;
}

.downloadButton {
  color: white;
  font-size: 1.5vw;
}

.dividerFooter {
  margin-bottom: 8%;
}

.wrapperImageFooter {
  width: 100%;
  margin-bottom: 5%;
}

.wrapperImageLogoCP {
  width: 80%;
}

.garisFooter {
  border-top: 2px solid grey;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 80%;
}

.garisFooterParagraph {
  font-size: 1.2vw;
  color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: 2vw !important;
  }
  h1 {
    font-size: 3vw !important;
  }

  p {
    font-size: 1.5vw !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content {
    text-align: left !important;
  }

  .rowLeftTitleContent {
    margin-top: 35% !important;
  }
  h4 {
    font-size: 2vw !important;
  }
  h1 {
    font-size: 3vw !important;
  }

  p {
    font-size: 2vw !important;
  }
  /* 
  h1 {
    font-size: 12pt !important;
  }

  h4 {
    font-size: 8pt !important;
  }

  p {
    font-size: 7pt !important;
  } */

  .chatbotMenuWrapper {
    width: 40vw;
  }

  .footerParagraph {
    font-size: 2.5vw;
  }

  .downloadButton {
    color: white;
    font-size: 3vw;
  }

  .wrapperImageLogoCP {
    width: 50%;
  }

  .dividerFooter {
    margin-bottom: 5%;
  }

  .followUs {
    width: 60%;
  }

  .wrapperImageFooter {
    width: 90%;
  }

  .garisFooterParagraph {
    font-size: 3vw;
    color: white;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .content {
    text-align: left !important;
  }

  .rowLeftTitleContent {
    margin-top: 35% !important;
  }
  h4 {
    font-size: 2vw !important;
  }
  h1 {
    font-size: 3vw !important;
  }

  p {
    font-size: 2vw !important;
  }
  .footerParagraph {
    font-size: 3vw;
  }

  .downloadButton {
    color: white;
    font-size: 4vw;
  }

  .wrapperImageLogoCP {
    width: 50%;
  }

  .dividerFooter {
    margin-bottom: 5%;
  }

  .followUs {
    width: 60%;
  }

  .wrapperImageFooter {
    width: 90%;
  }

  .garisFooterParagraph {
    font-size: 3vw;
    color: white;
  }
}
