@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&display=swap");
body {
  font-family: Hind Siliguri;
}
.imgRoundedBehind {
  width: 80%;
  height: 100%;
  position: relative !important;
}

.imgRoundedFront {
  width: 70%;
  height: 90%;
  position: absolute !important;
  top: 1;
  bottom: 0;
  z-index: 1;
}

.imgRoundedFrontInner {
  border-radius: 50%;
  height: 90%;
}

.imgRoundedFrontInnerBehind {
  border-radius: 50%;
  height: 90%;
}

.headingSection {
  font-size: 2vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.42px;
  margin-bottom: 5%;
  margin-top: 5%;
}

.regularParkingTitle {
  font-size: 2vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.43px;
}

.regularParkingContent {
  width: 80%;
  color: #4a4a4a;
  font-size: 1.2vw;
}

.wrapperRegularParkingSectionFirst {
  margin-top: 12vw;
}

.regularParkingTitle:before {
  content: "";
  background-image: url("./assets/img/lockey.png");
  background-size: 2vw 2vw;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin-right: 2%;
}

.yellowAsk {
  color: #ffd300;
}

.cardWhy {
  border-radius: 1.5rem !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 100%;
  align-self: stretch;
}

.imageCardWhy {
  width: 60%;
}

.titleCardWhy {
  font-size: 1.1vw;
  margin-top: 10%;
  text-align: center;
}

.wrapperImgLocation {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.order {
  background-image: url("./assets/img/alex.png");
  background-size: cover;

  width: 100%;
  height: 30vw;
}

.wrapperOrderContent {
  margin-left: auto;
  padding-top: 10%;
  padding-right: 5%;
  float: right;
  color: white !important;
}

.buttonJoinUs {
  margin-top: 20%;
  width: 80% !important;
  height: 3.5vw !important;
  border-radius: 24px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.orderTitle {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-size: 2.5vw;
}

.orderParagraph {
  font-size: 1.2vw;
}

.textButton {
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-size: 1.2vw;
}

.divOrder {
  background-image: url("./assets/img/mask.png");
  background-size: cover;
  height: 35vw;
}

.howOrderTitle {
  font-size: 1.5vw;
  color: #77797e;
}

.howOrderParagraph {
  font-size: 1vw;
  color: #c7c9ce;
}

.howOrderTitleActive {
  font-size: 1.5vw;
  color: #1c1f28;
}

.howOrderParagraphActive {
  font-size: 1vw;
  color: #485460;
}

.ovalWrapper {
  width: 22%;
  position: relative;
  margin-bottom: 5%;
}

.ovalTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c3c3c3;
  font-size: 1.5vw;
}

.ovalTitleActive {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffd300;
  font-size: 1.5vw;
}

.cardDeliveryActive {
  width: 100% !important;
  padding: 5% !important;
  object-fit: contain;
  margin-bottom: 10% !important;
  border-radius: 15px;
  box-shadow: 0 10px 50px 0 rgba(7, 42, 68, 0.04);
  background-color: #ffffff;
}

.cardDelivery {
  width: 100% !important;
  padding: 5% !important;
  object-fit: contain;
  margin-bottom: 10% !important;
}

.wrapperClickImage {
  width: 15%;
  margin-top: -15%;
  z-index: 1;
  margin-left: auto;
  float: right;
  justify-content: end;
}

.clickImage {
  width: 100%;
}

@media (min-width: 991px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .ovalTitle {
    font-size: 2.5vw;
  }
  .ovalWrapper {
    width: 15%;
  }

  .ovalTitleActive {
    font-size: 2.5vw;
  }

  .howOrderTitle {
    font-size: 2vw;
  }

  .regularParkingContent {
    font-size: 1.5vw;
  }
  .regularParkingTitle {
    font-size: 3vw !important;
  }
  .headingSection {
    font-size: 3vw !important;
  }
  .titleCardWhy {
    margin-top: 10%;
    font-size: 1.5vw;
  }
  .howOrderTitle {
    font-size: 2.5vw;
    color: #77797e;
  }

  .howOrderParagraph {
    font-size: 2vw;
    color: #c7c9ce;
  }

  .howOrderTitleActive {
    font-size: 2.5vw;
    color: #1c1f28;
  }

  .howOrderParagraphActive {
    font-size: 2vw;
    color: #485460;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .headingSection {
    font-size: 3vw !important;
  }

  .regularParkingTitle {
    font-size: 3vw !important;
  }

  .regularParkingContent {
    font-size: 1.8vw !important;
  }

  .imageCardWhy {
    width: 60%;
  }

  .titleCardWhy {
    font-size: 2vw;
    margin-top: 10%;
  }

  .orderTitle {
    font-size: 2.5vw;
  }

  .orderParagraph {
    font-size: 1.5vw;
  }

  .textButton {
    font-size: 1vw;
  }

  .howOrderTitle {
    font-size: 3vw;
    color: #77797e;
  }

  .howOrderParagraph {
    font-size: 2vw;
    color: #c7c9ce;
  }

  .howOrderTitleActive {
    font-size: 3vw;
    color: #1c1f28;
  }

  .howOrderParagraphActive {
    font-size: 2vw;
    color: #485460;
  }

  .ovalTitle {
    font-size: 4vw;
  }

  .ovalTitleActive {
    font-size: 4vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .headingSection {
    font-size: 4vw !important;
  }

  .regularParkingTitle {
    font-size: 4vw !important;
  }

  .regularParkingContent {
    font-size: 2vw !important;
  }

  .wrapperRegularParkingSectionFirst {
    margin-top: 5vw !important;
  }

  .regularParkingTitle:before {
    content: "";
    background-image: url("./assets/img/lockey.png");
    background-size: 3vw 3vw;
    display: inline-block;
    width: 3vw;
    height: 3vw;
    margin-right: 2%;
  }

  .imageCardWhy {
    width: 60%;
  }

  .titleCardWhy {
    font-size: 3vw;
    margin-top: 10%;
  }

  .orderTitle {
    font-size: 2.5vw;
  }

  .orderParagraph {
    font-size: 1.5vw;
  }

  .textButton {
    font-size: 1vw;
  }

  .howOrderTitle {
    font-size: 4vw;
    color: #77797e;
  }

  .howOrderParagraph {
    font-size: 3vw;
    color: #c7c9ce;
  }

  .howOrderTitleActive {
    font-size: 4vw;
    color: #1c1f28;
  }

  .howOrderParagraphActive {
    font-size: 3vw;
    color: #485460;
  }
  .ovalTitle {
    font-size: 5vw;
  }

  .ovalTitleActive {
    font-size: 5vw;
  }
}
